.content{
    width: 90%;
    margin: 1.4rem auto;
}

.title{
    text-align: center;
    margin-bottom: 2rem;
}

.title h1{
    font-size: 1.6rem;
    font-weight: 500;
}

.table{
    width: 100%;
}
