.content{
    width: 90%;
    margin: 1.4rem auto;
}

.title{
    text-align: center;
    margin-bottom: 2rem;
}

.title h1{
    font-size: 1.6rem;
    font-weight: 500;
}

.newBeverageButton{
    margin-bottom: 1rem;
}

.table{
    width: 100%;
}

.edit{
    color: rgb(209, 240, 105);
}

.inventory{
    color: aliceblue;
}
.buy{
    color: green;
    width: 0.5rem;
}

.name{
    width: 3rem;
}

.actions{
    width: 1rem;
}

.action-cell{
    width: 1rem;
    display: inline-block;
}

button{
    margin-top: 1rem ;
    border: none;
    cursor: pointer;
    background-color: rgb(113, 3, 156);
    transition: all 0.3 ease 0s;
}

button:hover{
    background-color: rgba(113, 3, 156, 0.3) ;
}

