<div class="content">
    <div class="title">
        <h1>Beverages</h1>
    </div>

    <button class= "newBeverageButton mat-elevation-z8" (click)="navigateToTravellerCreate()" mat-raised-button color="primary">New Beverage</button>

    <div class="mat-elevation-z8 contentTable">
        <table mat-table [dataSource] = "traveller" class="table">
            <!-- Position Column -->
            <ng-container matColumnDef="name" >
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef= "let row"> {{row.name}} </td>
            </ng-container>
        
            <!-- Name Column -->
            <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> Price </th>
            <td mat-cell *matCellDef= "let row"> {{row.price}} </td>
            </ng-container>
        
            <!-- Weight Column -->
            <ng-container matColumnDef="bottleSize">
            <th mat-header-cell *matHeaderCellDef> Bottle Size </th>
            <td mat-cell *matCellDef= "let row"> {{row.bottleSize}} </td>
            </ng-container>
        
            <!-- Symbol Column -->
            <ng-container matColumnDef="stockAmount">
            <th mat-header-cell *matHeaderCellDef> Stock Amount</th>
            <td mat-cell *matCellDef= "let row"> {{row.stockAmount}} </td>
            </ng-container>

            <ng-container  matColumnDef="description">
                <th mat-header-cell class = "description" *matHeaderCellDef> Description</th>
                <td mat-cell *matCellDef= "let row"> {{row.description}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell class ="actions" *matHeaderCellDef> Actions </th>
                <td mat-cell *matCellDef= "let row"> {{row.actions}} 
                    <a class ="edit" routerLink= "update/{{row.name}}">
                        <i class="material-icons"> edit</i>
                    </a>
                    <a class ="buy" routerLink= "update/{{row.name}}">
                        <i class="material-icons">shop</i>
                    </a>
                </td>
            </ng-container>

        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef= "let row; columns: displayedColumns;"></tr>
        </table>
      </div>



      <mat-paginator class="mat-elevation-z8" 
      [length] ="page.totalElements"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 15]"
      aria-label="Select page">
</mat-paginator>

      
</div>