<div class="content">
    <mat-toolbar color = "secondary">
        <span>Inventory</span>
        
        <div class="links">
            <a class= "food" routerLink="../foodInventory">Food</a>
            <a class = "beverage" routerLink="../beverageInventory">Beverage</a>
        </div>
    </mat-toolbar>


    
    <div class="mat-elevation-z8 contentTable">
        <table mat-table [dataSource] = "travBeverages" class="table">

            <ng-container matColumnDef="name" >
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef= "let row"> {{row.name}} </td>
            </ng-container>
        

            <ng-container matColumnDef="price">
            <th mat-header-cell *matHeaderCellDef> Price </th>
            <td mat-cell *matCellDef= "let row"> {{row.price}} </td>
            </ng-container>
        
            <ng-container matColumnDef="bottleSize">
            <th mat-header-cell *matHeaderCellDef> Bottle Size </th>
            <td mat-cell *matCellDef= "let row"> {{row.bottleSize}} </td>
            </ng-container>
        
            <ng-container matColumnDef="stockAmount">
            <th mat-header-cell *matHeaderCellDef> Stock Amount</th>
            <td mat-cell *matCellDef= "let row"> {{row.stockAmount}} </td>
            </ng-container>

            <ng-container  matColumnDef="description">
                <th mat-header-cell class = "description" *matHeaderCellDef> Description</th>
                <td mat-cell *matCellDef= "let row"> {{row.description}} </td>
            </ng-container>

            <ng-container matColumnDef="actions">
                <th mat-header-cell class ="actions" *matHeaderCellDef> Buy </th>
                <td mat-cell *matCellDef= "let row"> {{row.actions}} 

                    <button matbutton class ="buy" (click)="drinkDialog(row.name)">Drink</button>    
                </td>
            </ng-container>

        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef= "let row; columns: displayedColumns;"></tr>
        </table>
      </div>

    <button mat-button class="backButton mat-elevation-z8" (click)="goBack()" mat-raised-button color="primary" >Back</button>
</div>