form{
    text-align: center;
    width: 70%;
    margin: 2rem auto 0 auto;
}

h1{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 3rem;
}

.form{
    width: 100%;
}


.buttons{
    width: 100%;
    text-align: start;
}

.updateButton{
    margin-right: 1rem;
}

.cancelButton{
    margin-right: 1rem;
}

button{
    margin-top: 1rem ;
    border: none;
    cursor: pointer;
    background-color: rgb(113, 3, 156);
    transition: all 0.3 ease 0s;
}

button:hover{
    background-color: rgba(113, 3, 156, 0.3) ;
}

.updateButton:hover{
    background-color: rgba(8, 131, 202, 0.726);
}
.deleteButton:hover{
    background-color: rgba(204, 16, 16, 0.856);
}