<form>
    <h1> New Beverage</h1>

    <mat-form-field class ="form">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]= "beverage.name " type="text" name="name" placeholder="e.g New Beverage" >
    </mat-form-field>

    <mat-form-field class = "form">
        <mat-label>Price</mat-label>
        <input matInput [(ngModel)]= "beverage.price" type="number" name="price" placeholder="$$$">
    </mat-form-field>

    <mat-form-field class = "form">
        <mat-label>Bottle Size</mat-label>
        <input matInput type="number" [(ngModel)]= "beverage.bottleSize " name="bottleSize" placeholder="ml">
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Stock Amount</mat-label>
        <input matInput type="number" [(ngModel)] = "beverage.stockAmount" name= "stockAmount" placeholder="">
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Description</mat-label>
        <textarea matInput name="description" [(ngModel)]="beverage.description" placeholder="Write a Description"> </textarea>
    </mat-form-field>
    <div class="buttons">
        <button (click)="create()" class="createButton mat-elevation-z8" mat-raised-button color="primary">Create</button>
        <button (click) ="navigateToBeverageRead()" class="cancelButton mat-elevation-z8" mat-raised-button color="primary">Cancel</button>
    </div>
</form>